<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Opencart Application Regression Suite Test" verbose="4" parallel="tests" thread-count="3">

	<listeners>
		<listener class-name="com.qa.opencart.listeners.ExtentReportListener" />
		<listener class-name="com.qa.opencart.listeners.TestAllureListener" />
		<listener class-name="com.qa.opencart.listeners.AnnotationTransformer" />
	</listeners>

	<test name="Opencart Application Login Page Test">
		<classes>
			<class name="com.qa.opencart.tests.LoginTest" />
		</classes>
	</test> <!-- Test -->

	<test name="Opencart Application Account Page Test">
		<classes>
			<class name="com.qa.opencart.tests.AccountPageTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->